@use "./globalPar/variables";

h1 {
    font-family: variables.$mainHeading;
    color: variables.$darkBlueGreen;
    text-align: center;
    padding-top: 2rem;
    text-shadow: rgba(0,255,9,1) 0px 0px 3px;
    font-size: 4rem;
}




