@use "./globalPar/variables";

header {
    padding: 40px 0;
    font-size: 2rem;
    border-bottom: 2px solid variables.$grey;
}

h1 {
    font-family: variables.$mainHeading;
    color: variables.$darkBlueGreen;
    text-align: center;
    text-shadow: rgba(0,255,9,1) 0px 0px 3px;
    
}

fieldset {
    font-size: 1.5rem;
}




