@use  "../globalPar/variables";

header h1 {
    font-family: variables.$mainHeading;
}

p, fieldset, select, option {
    font-family: variables.$cardText;
}

.name {
    font-size: 1.1rem;
    font-weight: bold;
}

.aboutSection p {
    font-family: variables.$subHeading;
    font-size: 0.7rem;
}

footer {
    p {
        font-family: variables.$footerText;
    }
}