@use  "../globalPar/variables";

header h1 {
    font-family: variables.$mainHeading;
}

p, fieldset {
    font-family: variables.$cardText;
}

.name {
    font-size: 1.1rem;
}

.aboutSection p {
    font-family: variables.$subHeading;
    font-size: 0.8rem;
}