// Font families
$mainHeading: 'Creepster', cursive;
$subHeading: 'Poppins', sans-serif;
$cardText: 'Roboto', sans-serif;

// Colors
$lightBlue: #a5e5e8;
$blueGreen: #81d1d1;
$black: #0c1618;
$grey: #4f6367;